<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>

    <!-- indicates that the index.js file is a node.js application 
    to be handled by the iisnode module -->

    <handlers>
      <add name="iisnode" path="index.js" verb="*" modules="iisnode"/>
    </handlers>

    <!-- use URL rewriting to redirect the entire branch of the URL namespace
    to index.js node.js application -->

    <rewrite>
      <rules>
        <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^index.js\/debug[\/]?" />
        </rule>

        <rule name="StaticContent">
          <action type="Rewrite" url="public{REQUEST_URI}"/>
        </rule>

        <rule name="DynamicContent">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True"/>
          </conditions>
          <action type="Rewrite" url="index.js"/>
        </rule>

      </rules>
    </rewrite>

    <!-- bin directory has no special meaning in node.js and apps can be placed in it -->

    <security>
      <requestFiltering>
        <hiddenSegments>
          <remove segment="bin"/>
        </hiddenSegments>
      </requestFiltering>
    </security>

    <!-- customize error messages -->

    <!--<httpErrors existingResponse="PassThrough"/>-->

    <!-- enable logging -->

    <!--<iisnode loggingEnabled="true"/>-->

  </system.webServer>

</configuration>